{{define "storyDesc" -}}
作为用户，需要管理{{.Name}}的配置信息，这样就可以查询和设置参数当前值。
{{$form := .Data -}}
## 配置参数列表
{{range $index, $data := $form.Items -}}
{{if (eq $data.Type "Label") -}}
--- {{$data.Name}}
{{else if and (eq $data.Type "Button") (ne $data.Key "set") -}}
--- {{$data.Name}}
{{else if (eq $data.Type "Param") -}}
{{$param := getParam $data -}}
--- {{$data.Name}}{{if $param}}, OID={{$param.PrivOid}}, 读写模式={{$param.Access}}, 数据类型={{$param.DataType}}, 字节数={{$param.ByteSize}}{{if $param.Ratio}}, 倍率={{$param.Ratio}}{{end}}{{if $param.Min}}, 最小值={{$param.Min}}{{end}}{{if $param.Max}}, 最大值={{$param.Max}}{{end}}{{end}}
{{else if (eq $data.Type "Component:ParamGroup:2") -}}
--- {{$data.Name}}
{{range $subIndex, $sub := $data.Items -}}
{{$param2 := getParam $sub -}}
---- {{$sub.Name}}{{if $param2}}, OID={{$param2.PrivOid}}, 读写模式={{$param2.Access}}, 数据类型={{$param2.DataType}}, 字节数={{$param2.ByteSize}}{{if $param2.Ratio}}, 倍率={{$param2.Ratio}}{{end}}{{if $param2.Min}}, 最小值={{$param2.Min}}{{end}}{{if $param2.Max}}, 最大值={{$param2.Max}}{{end}}{{end}}
{{end}}
{{- end}}
{{- end}}
{{- end}}

{{define "storyNormalflow" -}}
{{$form := .Data -}}
{{$writable := isWritable $form -}}
--- 在{{.Name}}配置管理界面，显示配置参数；
---- 进入配置管理界面，自动发起请求读取所有的配置参数值，并更新显示；
---- 点击查询按钮（Refresh），手动发起请求读取所有的配置参数值；
---- 收到响应读取成功，显示全局成功信息（Get parameter values successfully），并更新到配置管理界面；
{{if $writable -}}
--- 在{{.Name}}配置管理界面的，修改可写的配置参数值，点击提交按钮（Submit），发起请求设置配置参数值；
---- 收到响应设置成功，显示全局成功信息（Set parameter values successfully），自动发起请求读取该对象的配置参数值，并更新到配置管理界面；
---- 收到响应设置成功，显示全局成功信息（Set parameter values successfully, response with fault code），自动发起请求读取该对象的配置参数值，并更新到配置管理界面；
{{- end}}
{{- end}}

{{define "storyAlternativeflow" -}}
--- 收到响应请求失败，显示全局失败信息（Request failed）；
{{- end}}

{{define "name" -}}
管理{{.Name}}的配置参数信息
{{- end}}

{{define "desc" -}}
{{template "storyDesc" .}}
{{- end}}

{{define "normalflow" -}}
{{template "storyNormalflow" .}}
{{- end}}

{{define "alternativeflow" -}}
{{template "storyAlternativeflow" .}}
{{- end}}

{{define "design" -}}
## 功能
--- 与原OMT功能相同，优化界面设计和操作交互流程；
## 输入项
--- 无
## 输出项
--- 无
## 主要数据结构/全局变量/静态变量
--- 模型定义：参数定义和布局定义符合《OMT数据模型详细设计 V1.0》
{{- end}}